{% extends "farmer/base.html" %} {% load static %}
{% block content %}
<div class="mt-6 ml-4 flex">
    <div>
        <span> <a href="#" class="text-gray-600">Ecommerce</a> / Products</span>
        <p class="text-2xl font-semibold py-1">All Products</p>
    </div>
</div>
<hr class="mx-4 my-2">
<div class="grid grid-cols-2 md:grid-cols-4 mx-4 mt-4 mb-8 gap-4 text-gray-800">
    {% for product in products %}
    <a href="/farmer/edit-product/{{product.pk}}" class="border rounded-xl shadow-md p-4 cursor-pointer hover:shadow-xl hover:border-black transition-all duration-300 ease-in-out">
        <img src="{{ product.image.url }}" alt="productImg" class="h-64 w-full rounded-xl" loading="lazy">
        <div class="my-2">
            <p class="text-xl font-semibold text-black">{{product.title}}</p>
            <p class="text py-1">{{product.description_short}}</p>
            <p class="font-semibold text-black text-xl pt-2"><span class="text-gray-700 text-lg line-through">₹{{product.price}}</span> &nbsp; ₹{{product.discount_price}}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}
