{% load static %}
<!-- ------------------------------footer sub end---------------------------------- -->
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Abel|Lato|Open+Sans&display=swap" rel="stylesheet">
<style>
  
    /* footer */
#footer-main{
	background: #000;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
    font-family: 'Lato', sans-serif;
}

#footer-main a{
	font-size: 14px;
	display: block;
	margin: 0.3rem;
	color: grey;
}

#footer-main a:hover{
	font-weight: bold;
	color: white;
}

#footer-main h6 a{
    color: white;

    
}



#footer-main hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
}

#footer-main img{
	margin-right: 0.6rem;
}
</style>

<footer id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <br>

            <h6 class="mt-3"><a href="">HOME</a></h6>
            <h6 class="mt-3"><a href="">ABOUT US</a></h6>
            <h6 class="mt-3"><a href="">CONTACT US</h6>
            
            <h6 class="mt-3"><a href="/admin/">ADMIN LOGIN</a></h6>
           
        </div>
        <div class="col-sm-3">
            <h6 class="mt-3"><a href="#">GET HELP</a></h6>
            <a href="/shop/order-summary/">Your Cart</a>
            <a href="/shop/checkout/">Order Status</a>
            <a href="/shop/checkout/">Shipping and Delivery</a>
            <!-- <a href="">Returns</a> -->
            <a href="/shop/checkout/">Payment Options</a>
        </div>
        <div class="col-sm-3">
            <h6 class="mt-3"><a href="">FOLLOW US</a></h6>
            <a href="">Instagram</a>
            <a href="">Facebook</a>
            <a href="">Twitter/X</a>
            
            
            



        </div>
        <div class="col-sm-3">
          <h6 class="mt-3"><a href="">LOCATION</a></h6>
          <a href="">Phone : +91 9xxxxxxxx1</a>
          <a href="">PIN : 5xx-xx01</a>
          <a href="">Email : support@agriassist.com</a>
         
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          
        </div>
        <div class="col-sm-6">
          
        </div>
        <hr>
        <a href="https://github.com/Srujan-Kumar-1/AgriAssist" style="margin-left: 1rem">© 2025 AgriAssist. All rights reserved.</a>
      </div>
    </div>
  </footer>
<!-- ------------------------------footer end---------------------------------- -->

