{% load static %}
<style>
  
    /* footer */
#footer-main{
	background: #000;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
    font-family: 'Lato', sans-serif;
}

#footer-main a{
	font-size: 14px;
	display: block;
	margin: 0.3rem;
	color: grey;
}

#footer-main a:hover{
	font-weight: bold;
	color: white;
}

#footer-main h6 a{
    color: white;

    
}



#footer-main hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
}

#footer-main img{
	margin-right: 0.6rem;
}
</style>
<!-- START: Footer -->
<footer id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <br>

            <h6 class="mt-3"><a href="">HOME</a></h6>
            <h6 class="mt-3"><a href="">ABOUT US</a></h6>
            <h6 class="mt-3"><a href="">CONTACT US</h6>
            
            <h6 class="mt-3"><a href="/admin/">ADMIN LOGIN</a></h6>
           
        </div>
        <div class="col-sm-3">
            <h6 class="mt-3"><a href="">GET HELP</a></h6>
            <a href="">Your Cart</a>
            <a href="">Order Status</a>
            <a href="">Shipping and Delivery</a>
            <!-- <a href="">Returns</a> -->
            <a href="">Payment Options</a>
        </div>
        <div class="col-sm-3">
            <h6 class="mt-3"><a href="">FOLLOW US</a></h6>
            <a href="">Instagram</a>
            <a href="">Facebook</a>
            <a href="">Twitter/X</a>
            
            
            



        </div>
        <div class="col-sm-3">
          <h6 class="mt-3"><a href="">LOCATION</a></h6>
          <a href="">Phone : +91 9xxxxxxxx1</a>
          <a href="">PIN : 5xx-xx01</a>
          <a href="">Email : support@agriassist.com</a>
         
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          
        </div>
        <div class="col-sm-6">
          
        </div>
        <hr>
        <a href="https://github.com/Srujan-Kumar-1/AgriAssist" style="margin-left: 1rem">© 2024 AgriAssist. All rights reserved.</a>
      </div>
    </div>
  </footer>
<!-- END: Footer -->

</div>



<!-- START: Scripts -->

<!-- Object Fit Images -->
<script src="{% static 'vendor/object-fit-images/dist/ofi.min.js' %}"></script>

<!-- Popper -->
<script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Fancybox -->
<script src="{% static 'vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>

<!-- Cleave -->
<script src="{% static 'vendor/cleave.js/dist/cleave.min.js' %}"></script>

<!-- Validator -->
<script src="{% static 'vendor/validator/validator.min.js' %}"></script>

<!-- Sticky Kit -->
<script src="{% static 'vendor/sticky-kit/dist/sticky-kit.min.js' %}"></script>

<!-- Jarallax -->
<script src="{% static 'vendor/jarallax/dist/jarallax.min.js' %}"></script>
<script src="{% static 'vendor/jarallax/dist/jarallax-video.min.js' %}"></script>

<!-- Isotope -->
<script src="{% static 'vendor/isotope-layout/dist/isotope.pkgd.min.js' %}"></script>

<!-- ImagesLoaded -->
<script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>

<!-- Swiper -->
<script src="{% static 'vendor/swiper/dist/js/swiper.min.js' %}"></script>

<!-- Gist Embed -->
<script src="{% static 'vendor/gist-embed/gist-embed.min.js' %}"></script>

<!-- Bootstrap Select -->
<script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

<!-- Dropzone -->
<script src="{% static 'vendor/dropzone/dist/min/dropzone.min.js' %}"></script>

<!-- Quill -->
<script src="{% static 'vendor/quill/dist/quill.min.js' %}"></script>
<script>
    !(function(){const sc=document.createElement('script');sc.src="https://apps.voc.ai/api_v2/gpt/bots/livechat/embed.js?id=19132&token=67276627E4B0DD4BCF9FB24B";sc.async=true;sc.defer=true;document.body.appendChild(sc);})()
  </script>
</body>

</html>